/* HOJA DE ESTILO CSS PARA PÁGINA WEB "TEXTIL UNQ"*/

/* Encabezado */

.contenedor-logo {
  display: grid;            
  height: 1px;
  text-align: left;
}

element.style {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.title {
  display: block;
  font-size: 40px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.imagenes {
    background: #ffcc99;
    box-shadow: 1px 10px 1px 0px #c3874c;
    margin-bottom: -11px;
    margin-left: 115px;
    margin-right: 100px;
}

header {
    grid-column: span 3;
    padding: 1px;
    font-size: 2em;
    color: #ff9966;
    background-color: #99CCFF;
    margin-block-end: 15px;
    margin-block-start: 14px;
    box-shadow: 0 0 0 8px #c0e0ff;
}

h1 {
    text-align: center;
    font-family: Times New Roman;
    letter-spacing: 4px;
    text-shadow: 3px -2px 2px #232323;
    box-sizing: border-box;
    }

h2 {
  text-align: center;
  color: #0099FF;
  font-size: 30px;
  font-family: serif;
  letter-spacing: 3px;
  text-shadow: 1px 1px black;
  margin-block-start: auto;
  }    


.nav {
    background-color: #ffa360;
    font-family: auto;
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
    -webkit-text-stroke-width: medium;
    box-shadow: 0px 0px 0px 20px #ffa360;
}

/* Cuerpo del texto */

body {          
    background-color: #472313;
    margin-top: 0px;    
}


h3 {
    text-align: center;
    color: #472a00;
    font-size: 32px;
    font-family: serif;
    letter-spacing: 4px;
    background: #ffcd85;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    text-align: center;
    color: #472a00;
    font-size: 25px;
    font-family: unset;
    letter-spacing: 2px;
    background: #ffcc99;
} 

ul {
    margin-inline-start: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background-color: #333333;
}    

.contenedor-destacado{
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 1px;
} 

.contenedor-destacado > header {
    padding-left: 10px;
    padding-top: 10px;
    grid-column-start: head;
    background-color: #472a00;
    box-shadow: 0 0 0 8px #472313;
}

.contenedor-destacado > article {
  grid-column-start: head;
  background-color: #8ca0ff;
  justify-content: center;
}

 
.article {
    background: #ff9c3a;
    box-shadow: 0px 0px 0px 10px #ff9c3a;
    margin-top: -4px;
    }

.sobrehiloencerado {
    background-color: #ffe3bb;
    text-align: left;
    margin-left: 156px;
    margin-right: 156px;
    box-shadow: 0 0 0 9px #ffe3bb;
    font-size: 18px;
    font-family: serif;
}

element.style {
    background-color: #ffcc99;
    font-size: 25px;
    color: #000;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

textarea {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Publicidad */

aside {
    margin-block-end: 10px;
    margin-block-start: 10px;
    margin-left: 140px;
    margin-right: 140px;
}

.publicidad {
    margin-block-start: 12px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 9px 1px black;
    background-color: #3d1212;
}


/* Pie de página: Redes Sociales y medios de contacto de la empresa */
.footer {
    text-align: center;
    text-transform: uppercase;
    border-top: 20px solid #ff884c;
    border-bottom: 20px solid #ff884c;
    margin-block-end: 1px;
    font-family: serif;
    letter-spacing: 2px;
    font-size: 15px;
    background: #ffe3bb;
}

.contactofacebook {
    margin: auto;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 119px;
}
.contactowhatsapp {
    margin: auto;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 146px;
}
.contactodireccion {
  margin: auto;
  text-align: center;
  margin-bottom: 12px;
}
.contactogmail {
  margin: auto;
  text-align: center;
  margin-bottom: 12px;
}
