/* HOJA DE ESTILO CSS PARA PÃGINA 3 DE "TEXTIL UNQ"*/

/* Encabezado */

.contenedor-logo {
  display: grid;            
  height: 1px;
  text-align: left;
}

element.style {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.title {
  display: block;
  font-size: 40px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header {
    grid-column: span 3;
    padding: 1px;
    font-size: 2em;
    color: #ff9966;
    background-color: #99CCFF;
    margin-block-end: 15px;
    margin-block-start: 14px;
    box-shadow: 0 0 0 8px #c0e0ff;
}

h1 {
    text-align: center;
    font-family: Times New Roman;
    letter-spacing: 4px;
    text-shadow: 3px -2px 2px #232323;
    box-sizing: border-box;
    }

h2 {
  text-align: center;
  color: #0099FF;
  font-size: 30px;
  font-family: serif;
  letter-spacing: 3px;
  text-shadow: 1px 1px black;
  margin-block-start: auto;
  }    


nav {
  padding-top: 0px;
  background-color: #FFCC99;
  font-family: Times New Roman;
  font-size: 20px;
  box-shadow: inset 0px 0px 16px 2px #ffe2c6;
}




/* Cuerpo del texto */

body {          
  background-color: #ffe5d8;
  margin-top: 0px;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor-destacado{
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid img {
  justify-items: center;
  width: 100%;
  border: 3px solid blue               
}


h3 {
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: serif;
    letter-spacing: 2px;
    background: #d9fff0;
    box-shadow: 0 0 0 20px #d9fff0;
    text-shadow: 2px 0px 3px #ffd4bf;
}

h4 {
    text-align: center;
    color: #993401;
    font-size: 25px;
    font-family: unset;
    letter-spacing: 1px;
    background: #feffcb;
    box-shadow: 0 0 0 15px #feffcb;
}

h5 {
    text-align: center;
    color: #993401;
    font-size: 25px;
    font-family: unset;
    letter-spacing: 1px;
    background: #feffcb;
    box-shadow: 0 0 0 15px #feffcb;
}

h6 {
    text-align: center;
    color: #993401;
    font-size: 25px;
    font-family: unset;
    letter-spacing: 1px;
    background: #feffcb;
    box-shadow: 0 0 0 15px #feffcb;
}          

.contenedor-destacado > header {
  padding-left: 10px;
  padding-top: 10px;
  grid-column-start: head;
  background-color: #8ca0ff;
}

.contenedor-destacado > article {
  grid-column-start: head;
  background-color: #8ca0ff;
  justify-content: center;
}

section {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

.article {
  position: static;
  background: #ffcc99;
  font-size: larger;
  font-style: normal;
  font-family: serif;
  text-align: left;
}

element.style {
    background-color: #ffcc99;
    font-size: 25px;
    color: #000;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

textarea {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

p {
  background-color: orange
}

ul {
    margin: 36px;
    display: grid;
    grid-template-columns: auto;
    margin-block-end: 1px;
    margin-block-start: 1px;
    margin-inline-start: 372px;
    margin-inline-end: 373px;
    margin-top: 14px;
    margin-bottom: 21px;
    font-family: monospace;
    font-size: 16px;
    text-align: justify;
    background-color: #eefff8;
    box-shadow: 0 0 4px 3px #9eaea8;
}

   li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background-color: #333333;
}