/* HOJA DE ESTILO CSS PARA PÃGINA WEB "TEXTIL UNQ"*/

/* Encabezado */

.contenedor-logo {
  display: grid;            
  height: 1px;
  text-align: left;
}

element.style {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.title {
  display: block;
  font-size: 40px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header {
    grid-column: span 3;
    padding: 1px;
    font-size: 2em;
    color: #ff9966;
    background-color: #99CCFF;
    margin-block-end: 15px;
    margin-block-start: 14px;
    box-shadow: 0 0 0 8px #c0e0ff;
}

h1 {
    text-align: center;
    font-family: Times New Roman;
    letter-spacing: 4px;
    text-shadow: 3px -2px 2px #232323;
    box-sizing: border-box;
    }

h2 {
  text-align: center;
  color: #0099FF;
  font-size: 30px;
  font-family: serif;
  letter-spacing: 3px;
  text-shadow: 1px 1px black;
  margin-block-start: auto;
  }    


nav {
    padding-top: 0px;
    background-color: #FFCC99;
    font-family: auto;
    font-size: 20px;
    box-shadow: inset 0px 0px 16px 2px #ffe2c6;
    text-align: center;
    letter-spacing: 4px;
    -webkit-text-stroke-width: medium;
}

ul {
    margin-inline-start: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background-color: #333333;
}


/* Cuerpo del texto */

body {          
  background-color: #ffe2c6;
  margin-top: 0px;
  padding: 0px
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor-destacado{
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid img {
  justify-items: center;
  width: 100%;
  border: 3px solid blue               
}

h3 {
  text-align: center;
  color: black;
  font-size: 28px;
  font-family: unset;
  letter-spacing: 10px;
  background: #c0e0ff;
}

h4, h5, h6 {
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: unset;
  letter-spacing: 2px;
  background: #c0e0ff;
}      

.contenedor-destacado > header {
  padding-left: 10px;
  padding-top: 10px;
  grid-column-start: head;
  background-color: #8ca0ff;
}

.contenedor-destacado > article {
  grid-column-start: head;
  background-color: #8ca0ff;
  justify-content: center;
}

section {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

.article {
    background: #ffcc99;
    font-size: larger;
    font-style: normal;
    font-family: serif;
    text-align: justify;
    }

element.style {
    background-color: #ffcc99;
    font-size: 25px;
    color: #000;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

textarea {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Publicidad */

aside {
     margin-block-end: 10px;
    margin-block-start: 10px;
    margin-left: 140px;
    margin-right: 140px;
}


/*  */
.footer {
  text-align: center;
    text-transform: uppercase;
    -webkit-user-modify: read-write-plaintext-only;
    border-top: 20px solid #ff9966;
    border-bottom: 20px solid #ff9966;
    margin-block-end: 1px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    background: #ffcc99;
}